<?xml version="1.0"?>
<model>
  <name>microscopio_msr</name>
  <version>0.2</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Zaber Nucleus MSR - volumen de obstaculo simplificado, estatico.
    Incluye marca visual de la posicion de carga del portaobjetos.
    Dimensiones provisionales pendientes de medir sobre el STEP.
  </description>
</model>
