<?xml version="1.0"?>
<model>
  <name>mesa</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    Mesa de trabajo de 1.70 x 1.00 m, altura 0.75 m.
    Construida con primitivas box, sin mallas externas. Modelo estatico.
  </description>
</model>
